.customersWrapWrap
    .customersWrap
        .customers__title
            h1 All Customers
            .customers__status Active Members
        .search
            form(action="#" method="post")
                .search__form
                    input(type="text" name="search" placeholder="Search" value="")
                    button(type="submit" class="btn btn-search" aria-label="Search")
    .customers_table.tableWrap
        table
            thead 
                tr
                    th Customer Name
                    th Company
                    th Phone Number
                    th Email
                    th Country
                    th Status
            tbody
                tr
                    td Jane Cooper
                    td Microsoft
                    td (225) 555-0118
                    td jane@microsoft.com
                    td United States
                    td 
                        span.active Active
                tr
                    td Floyd Miles
                    td Yahoo
                    td (205) 555-0100
                    td floyd@yahoo.com
                    td Kiribati
                    td 
                        span.inactive Inactive
                tr
                    td Ronald Richards
                    td Adobe
                    td (302) 555-0107
                    td ronald@adobe.com
                    td Israel
                    td 
                        span.inactive Inactive
                tr
                    td Marvin McKinney
                    td Tesla
                    td (252) 555-0126
                    td marvin@tesla.com
                    td Iran
                    td 
                        span.active Active
                tr
                    td Jerome Bell
                    td Google
                    td (629) 555-0129
                    td jerome@google.com
                    td Réunion
                    td 
                        span.active Active
                tr
                    td Kathryn Murphy
                    td Microsoft
                    td (406) 555-0120
                    td kathryn@microsoft.com
                    td Curaçao
                    td 
                        span.active Active
                tr
                    td Jacob Jones
                    td Yahoo
                    td (208) 555-0112
                    td jacob@yahoo.com
                    td Brazil
                    td 
                        span.active Active
                tr
                    td Kristin Watson
                    td Facebook
                    td (704) 555-0127
                    td kristin@facebook.com
                    td Åland Islands
                    td 
                        span.inactive Inactive
    .paginationWrap
        .customers_rezults Showing data 1 to 8 of  256K entries
        .customers_pagination
            ul
                li.customers_pagination-prev
                    a(href="#") 
                        span <
                li.active
                    a(href="#") 
                        span 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li.more
                    a(href="#") ...
                li
                    a(href="#") 40
                li.customers_pagination-next
                    a(href="#") >


                            